extends layout/layout

block app
	.ithank
		h1.ithank__title
			a.ithank__title-link(href='/')= title
		a.ithank__say(href='/write') Скажите спасибо и вы!

		.ithank__fillet
			include thank/thank

		- var classes = ['ithank__show', 'ithank__show_earlier']
		if !earlierUrl 
			- classes.push('ithank__show_hidden')
		a(class=classes, href=earlierUrl) Предыдущие

		- var classes = ['ithank__show', 'ithank__show_later']
		if !laterUrl
			- classes.push('ithank__show_hidden')

		a(class=classes, href=laterUrl) Следующие